<h1>Edit the Recipe here...</h1>
<p>Name: <%= @recipe2.name %></p>
<p>Ingredients: <%= @recipe2.ingredients %></p>
<p>Cook Time: <%= @recipe2.cook_time %> minutes</p>

<form action="/recipes/<%= @recipe2.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Add the name of the meal: <input type="text" name="name"> <br>
  What are the ingredients? <input type="text" name="ingredients"> <br>
  How long does it take to prepare?<input type="integer" name="cook_time"> <br>
  Click here to save your recipe. <input type="submit" value="submit">
</form>
